.home {
  display: grid;
  row-gap: 15px;
  column-gap: 20px;
  grid-template-areas:
    "header header"
    "sidebar main";

  grid-template-columns: 1fr 3fr;
  justify-items: center;
}

.header {
  border-color: blue;
  border-radius: 25px;
  grid-area: header;
  width: 100%;
}

.sidebar {
  grid-area: sidebar;
  height: 500px;
  width: 100%;
  background-color: rgb(59, 130, 174);
}

.main {
  grid-area: main;
  width: 100%;
}
