/* [project]/src/app/page.module.css [app-client] (css) */
.page-module___8aEwW__loginContainer {
  background-color: #69cced;
  border-radius: 25px;
  flex-direction: column;
  flex: 1;
  align-items: center;
  row-gap: 2rem;
  width: 500px;
  padding: 40px;
  display: flex;
  box-shadow: 2px 5px 10px gray;
}

.page-module___8aEwW__loginTitle {
  font-size: xx-large;
  font-weight: bold;
}

.page-module___8aEwW__form {
  flex-direction: column;
  row-gap: 8px;
  width: 100%;
  display: flex;
}

.page-module___8aEwW__usernameContainer {
  display: flex;
  position: relative;
}

.page-module___8aEwW__username {
  border-color: none;
  border: 1px solid #f7f5f5;
  border-radius: 10px;
  width: 100%;
  font-size: 18px;
}

.page-module___8aEwW__usernameLogo {
  z-index: 10;
  padding-left: 2%;
  position: absolute;
  top: 20%;
}

.page-module___8aEwW__username::placeholder {
  opacity: .5;
}

.page-module___8aEwW__username[type="text"] {
  padding: 12px 10%;
}

.page-module___8aEwW__usernameErrCont {
  position: absolute;
  top: 80%;
}

.page-module___8aEwW__usernameError {
  color: red;
  font-size: small;
}

.page-module___8aEwW__passwordContainer {
  margin-top: 15px;
  display: flex;
  position: relative;
}

.page-module___8aEwW__password {
  border-color: none;
  border: 1px solid #f7f5f5;
  border-radius: 10px;
  width: 100%;
  font-size: 18px;
}

.page-module___8aEwW__passwordLogo {
  z-index: 10;
  padding-left: 2%;
  position: absolute;
  top: 20%;
}

.page-module___8aEwW__password[type="password"] {
  padding: 12px 10%;
}

.page-module___8aEwW__password::placeholder {
  opacity: .5;
}

.page-module___8aEwW__loginButton {
  color: #fff;
  cursor: pointer;
  background-color: #000;
  border-radius: 15px;
  padding: 10px;
  font-size: 18px;
}

.page-module___8aEwW__externalLogin {
  flex-direction: column;
  align-items: center;
  display: flex;
}

.page-module___8aEwW__externalSignTitle {
  font-size: large;
}

.page-module___8aEwW__googleLogin {
  cursor: pointer;
}

.page-module___8aEwW__forgotPassCont {
  margin-left: auto;
  display: flex;
}

.page-module___8aEwW__forgotPassBtn {
  cursor: pointer;
  color: #2266ef;
  background-color: #0000;
  border: none;
}

/* [project]/src/app/form.module.css [app-client] (css) */
.form-module__V6Rn0a__form {
  flex-direction: column;
  row-gap: 8px;
  width: 100%;
  display: flex;
}

.form-module__V6Rn0a__usernameContainer {
  display: flex;
  position: relative;
}

.form-module__V6Rn0a__username {
  border-color: none;
  border: 1px solid #f7f5f5;
  border-radius: 10px;
  width: 100%;
  font-size: 18px;
}

.form-module__V6Rn0a__usernameLogo {
  z-index: 10;
  padding-left: 2%;
  position: absolute;
  top: 20%;
}

.form-module__V6Rn0a__username::placeholder {
  opacity: .5;
}

.form-module__V6Rn0a__username[type="text"] {
  padding: 12px 10%;
}

.form-module__V6Rn0a__errorContainer {
  position: absolute;
  top: 80%;
}

.form-module__V6Rn0a__errorMsg {
  color: red;
  font-size: small;
}

.form-module__V6Rn0a__passwordContainer {
  margin-top: 15px;
  display: flex;
  position: relative;
}

.form-module__V6Rn0a__password {
  border-color: none;
  border: 1px solid #f7f5f5;
  border-radius: 10px;
  width: 100%;
  font-size: 18px;
}

.form-module__V6Rn0a__passwordLogo {
  z-index: 10;
  padding-left: 2%;
  position: absolute;
  top: 20%;
}

.form-module__V6Rn0a__password[type="password"] {
  padding: 12px 10%;
}

.form-module__V6Rn0a__password::placeholder {
  opacity: .5;
}

.form-module__V6Rn0a__loginButton {
  color: #fff;
  cursor: pointer;
  background-color: #000;
  border-radius: 15px;
  padding: 10px;
  font-size: 18px;
}

.form-module__V6Rn0a__loggingBtn {
  color: gray;
}

.form-module__V6Rn0a__forgotPassCont {
  margin-top: 10px;
  margin-left: auto;
  display: flex;
}

.form-module__V6Rn0a__forgotPassBtn {
  cursor: pointer;
  color: #2266ef;
  background-color: #0000;
  border: none;
}

/*# sourceMappingURL=src_app_a40c4cab._.css.map*/