/* [project]/src/app/page.module.css [app-client] (css) */
.page-module___8aEwW__customLogin {
  background-color: #add8e6;
  border-radius: 25px;
  flex-direction: column;
  flex: 1;
  align-items: center;
  row-gap: 10px;
  width: 400px;
  padding: 40px;
  display: flex;
  box-shadow: 2px 5px 10px gray;
}

.page-module___8aEwW__loginHeader {
  margin-bottom: 15px;
  font-size: 25px;
  font-weight: bold;
}

.page-module___8aEwW__email {
  border-color: none;
  border: 1px solid #f7f5f5;
  border-radius: 10px;
  width: 100%;
  font-size: 18px;
}

.page-module___8aEwW__email::placeholder {
  opacity: .5;
}

.page-module___8aEwW__email[type="text"], .page-module___8aEwW__password[type="password"] {
  padding: 12px;
}

.page-module___8aEwW__password::placeholder {
  opacity: .5;
}

.page-module___8aEwW__password {
  border-color: none;
  border: 1px solid #f7f5f5;
  border-radius: 10px;
  width: 100%;
  margin-bottom: 15px;
  font-size: 18px;
}

.page-module___8aEwW__loginButton {
  color: #fff;
  cursor: pointer;
  background-color: #000;
  border-radius: 15px;
  width: 100%;
  padding: 10px;
  font-size: 18px;
}

.page-module___8aEwW__externalLogin {
  flex-direction: column;
  display: flex;
}

/* [project]/src/app/google.module.css [app-client] (css) */
.google-module__15Ungq__gsi-material-button {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-appearance: none;
  box-sizing: border-box;
  color: #1f1f1f;
  cursor: pointer;
  letter-spacing: .25px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  background-color: #fff;
  background-image: none;
  border: 1px solid #747775;
  border-radius: 20px;
  outline: none;
  width: 40px;
  min-width: min-content;
  max-width: 400px;
  height: 40px;
  padding: 0;
  font-family: Roboto, arial, sans-serif;
  font-size: 14px;
  transition: background-color .218s, border-color .218s, box-shadow .218s;
  position: relative;
  overflow: hidden;
}

.google-module__15Ungq__gsi-material-button .google-module__15Ungq__gsi-material-button-icon {
  width: 20px;
  min-width: 20px;
  height: 20px;
  margin: 0;
  padding: 9px;
}

.google-module__15Ungq__gsi-material-button .google-module__15Ungq__gsi-material-button-content-wrapper {
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
}

.google-module__15Ungq__gsi-material-button .google-module__15Ungq__gsi-material-button-contents {
  text-overflow: ellipsis;
  vertical-align: top;
  flex-grow: 1;
  font-family: Roboto, arial, sans-serif;
  font-weight: 500;
  overflow: hidden;
}

.google-module__15Ungq__gsi-material-button .google-module__15Ungq__gsi-material-button-state {
  opacity: 0;
  transition: opacity .218s;
  position: absolute;
  inset: 0;
}

.google-module__15Ungq__gsi-material-button:disabled {
  cursor: default;
  background-color: #ffffff61;
  border-color: #1f1f1f1f;
}

.google-module__15Ungq__gsi-material-button:disabled .google-module__15Ungq__gsi-material-button-contents, .google-module__15Ungq__gsi-material-button:disabled .google-module__15Ungq__gsi-material-button-icon {
  opacity: .38;
}

.google-module__15Ungq__gsi-material-button:not(:disabled):active .google-module__15Ungq__gsi-material-button-state, .google-module__15Ungq__gsi-material-button:not(:disabled):focus .google-module__15Ungq__gsi-material-button-state {
  opacity: .12;
  background-color: #303030;
}

.google-module__15Ungq__gsi-material-button:not(:disabled):hover {
  box-shadow: 0 1px 2px #3c40434d, 0 1px 3px 1px #3c404326;
}

.google-module__15Ungq__gsi-material-button:not(:disabled):hover .google-module__15Ungq__gsi-material-button-state {
  opacity: .08;
  background-color: #303030;
}

/*# sourceMappingURL=src_app_169a7e45._.css.map*/